{% extends "form/contact.html.twig" %}

{% block contact_form_fields %}
    {{ parent() }}

    <div class="mb-3">
        {% if oView.isOptInValidationRequired() %}
            <input type="hidden" name="c_oegdproptin" value="0">
            <input type="checkbox"
                   name="c_oegdproptin"
                   id="c_oegdproptin"
                   value="1">
            <label class="{% if contactFormFields.subject.isRequired %}req{% endif %}" for="c_oegdproptin">
                <strong>{{ translate({ ident: "OEGDPROPTIN_CONTACT_FORM_MESSAGE_STATISTICAL" }) }}</strong>
            </label>

            {% if oView.isOptInError() %}
                <div class="text-danger">{{ translate({ ident: "OEGDPROPTIN_CONTACT_FORM_ERROR_MESSAGE" }) }}</div>
            {% endif %}
        {% else %}
            {{ translate({ ident: "OEGDPROPTIN_CONTACT_FORM_MESSAGE_DELETION" }) }}
        {% endif %}
    </div>
{% endblock %}