{% extends "form/fieldset/user_account.html.twig" %}

{% block user_account_newsletter %}
    {{ parent() }}

    {% if true == oViewConf.showGdprRegistrationOptIn() %}
        <div class="mb-3 form-check{% if aErrors.oegdproptin_userregistration %} oxInValid{% endif %}">
            <input type="checkbox" class="form-check-input" name="oegdproptin_userregistration" id="oegdproptin_userregistration" value="1">
            <label class="form-check-label" for="oegdproptin_userregistration">
                {{ translate({ ident: "OEGDPROPTIN_USER_REGISTRATION_OPTIN" }) }}
            </label>
            {% if aErrors.oegdproptin_userregistration %}
                {% include "message/inputvalidation.html.twig" with { aErrors: aErrors.oegdproptin_userregistration.0 } %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

