{% extends "form/fieldset/user_account.html.twig" %}

{% block user_account_newsletter %}
    {{ parent() }}

    {% if true == oViewConf.showGdprRegistrationOptIn() %}
        <div class="form-group row">
            <div class="col-lg-9 col-lg-offset-3 offset-lg-3">
                <div class="checkbox">
                    <label for="oegdproptin_userregistration">
                        <input type="checkbox" name="oegdproptin_userregistration" id="oegdproptin_userregistration" value="1"> {{ translate({ ident: "OEGDPROPTIN_USER_REGISTRATION_OPTIN" }) }}
                    </label>
                </div>
                {% if Errors.oegdproptin_userregistration %}
                    {% set oError = Errors.oegdproptin_userregistration.0 %}
                    <div class="text-danger">{{ oError.getOxMessage() }}</div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

